*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid black;
}
nav,ul{
   list-style-type: none;
   background: black;
   display: flex;
   justify-content: flex-end;
   position:sticky;
    top:0;
 }

li{
     padding: 24px;
    
     font-family: cursive;
  }

a{
color: white;
text-decoration: none;
}

img{
    height: 43px;
    position: absolute;
    top:15px;
    left:15px;
    display: flex; 
    justify-content: flex-start;
}

section{
    overflow: scroll;
    height: 450px;
    width: 100%;
   
}

p{
    font-size:large;
    padding: auto;
}
